// ------------------------------
// 🔥 Angular Rome Header
// ------------------------------

.site-header {

  position: relative;

}

.site-logo {

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $ribbon;
  height: 65px;
  width: 130px;
  @include breakpoint-m {
    width: 186px;
    height: 110px;

  }
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {

    width: 36px;
    height: 38px;

    @include breakpoint-m {

      width: 56px;
      height: 60px;

    }

  }

  span {

    @include assistive();

  }

}

.site-menu {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $ribbon;
  color: white;
  padding: 22px 34px 10px;
  min-width: 280px;
  max-width: 280px;
  height: 100vh;

  @include breakpoint-m {

    min-width: 720px;
    max-width: 720px;
    padding: 44px 64px 15px;

  }


  @include breakpoint-xl {

    min-width: 720px;
    max-width: 720px;
    padding: 44px 64px 24px;

  }

  will-change: transform;
  opacity: 0;
  transform: translateX(280px);
  transition-delay: .25s;
  transition: transform .2s ease-out, opacity .3s ease ;

  @include breakpoint-m {

    transform: translateX(720px);

  }

  &--show {

    opacity: 1;

    transform: translateX(0);

    .site-menu__nav li {

      opacity: 1;
      transform: translateY(0);

    }

    @for $i from 1 to 8 {

      .site-menu__nav li:nth-child(#{$i}) {

        transition-delay: $i * 0.15s;

      }

    }

  }

  &__logo {

    display: block;

    span {

      @include assistive();

    }

  }

  &__nav {

    font-weight: 700;
    font-size: 17px;

    li {

      opacity: 0;
      will-change: transform;
      transform: translateY(50px);
      transition: opacity .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1);

      + li {

        margin-top: 12px;

        @include breakpoint-m {

          margin-top: 25px;

        }
        @include breakpoint-l {

          margin-top: 15px;

        }

      }

      a {

        padding-top: 6px;
        padding-bottom: 6px;

        @include breakpoint-m {

          padding-top: 8px;
          padding-bottom: 8px;

        }
        @include breakpoint-l {

          padding-top: 6px;
          padding-bottom: 6px;

        }

        display: flex;
        align-items: center;
        text-transform: uppercase;

        svg {

          margin-right: 20px;

        }

      }

    }

  }

  &__info {

    p {

      @include breakpoint-s {

        display: none;
        visibility: hidden;

      }

    }

  }

  &--open {

    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
    margin: 15px 0 0;
    padding: 0;
    cursor: pointer;

    // display: none;
    // visibility: hidden;


  }

  &--close {

    position: absolute;
    top: 45px;
    right: 35px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 2;

  }

}
