// ------------------------------
// 🔥 Angular Rome Tickets
// ------------------------------


.tickets__list {

  margin-top: 40px;
  margin-bottom: 60px;

  @include breakpoint-m {

    margin-top: 60px;
    margin-bottom: 80px;

  }

  @include breakpoint-l {

    margin-bottom: 100px;

  }

  @include breakpoint-s {

    overflow-x: scroll;

  }

  width: 100%;
  display: flex;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(290px);
  scroll-snap-points-x: repeat(290px);
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;

  &--wrap {

    display: flex;
    overflow-x: visible;

  }

}

.ticket {

  position: relative;
  opacity: .2;

  & + & {

    margin-left: 20px;

    @include breakpoint-m {

      margin-left: 40px;

    }

  }

  @include breakpoint-s {

    scroll-snap-align: start;
    min-width: 290px;

  }

  @include breakpoint-m {

    flex: 0 1 33.33333%;

  }

  > a {

    display: block;
    padding: 34px 24px 24px 24px;
    border: 2px solid #161616;
    border-radius: 5px;

  }

  &__title {

    position: relative;
    padding-top: 8px;
    font-weight: 700;
    font-size: 22px;

    @include breakpoint-m {

      margin-top: 10px;
      font-size: 28px;

    }

    &:before {

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 60px;
      background-color: $ribbon;

    }

  }

  &__price {

    display: block;
    margin-top: 4px;
    color: $black;
    font-size: 22px;

  }

  &__info {

    margin-top: 16px;
    margin-bottom: 45px;
    color: #999999;
    font-size: 16px;

    span {
      display: block;
    }

  }

  .button {

    opacity: 0;

  }

  &--ready {

    opacity: 1;

    .button {

      opacity: 1;

    }

  }

}
