// ------------------------------
// 🔥 Angular Rome Typeface Vars
// ------------------------------

$font-name-a: "Work Sans";

$font-name-b: "Roboto Condensed";

$font-primary: $font-name-a, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

$font-secondary: $font-name-b, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
